.header {
	background: #839496;
	width: 100%;

}

.navbar-nav {
	color: #839496;
	text-align: right;
	right: 10px;
}
/****main page context*****/
.page_context {
background: #002b36;
padding: #839496;
border: 2px solid #ffffff;
}

.connect {
	background: #002b36;
	padding: #839496;
	border: 2px solid #ffffff;

}

/****Contact Page****/
}
form {
	width: 100%;
	overflow: hidden;
	padding: 0px;
	clear: both;
}
.form-control {
	width: 100%;
	margin: 0;
	clear: both;
}
/****Portfolio Page****/
.card-title {
	width: 100%;
	padding: 5px;
	background: #002b36;
	opacity: 0.5;
	color: #839496;
	text-align: center;
}
.portfolio_image {
	margin: 20px;

}

footer {
	background: #839496;
	color: #002b36;
	text-align: center;
	padding: 10px;

}




